.header-contato {
    width: 100%;
    height: 700px;
    background-image: url("/imagens/Background/background-contato.jpg");
    background-position: center;
    background-size: cover;
}
.cards {
    text-align: center;
    font: Bold 100px/133px Segoe UI;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 1px 1px 10px #000000A3;
    opacity: 1;
}

.avatar {
    width: 300px;
    height: 300px;
}

p {
    margin-top: 100px;
    text-align: left;
    font: 70px/50px Segoe UI;
    letter-spacing: 0;
    text-shadow: 1px 1px 1px #000000A3;
}

ul {
    font-weight: 600;
    font-size: 30pt;
    text-align: center;
    margin: 50px;
    
}

.conteudo p {
    margin-bottom: 50px;
}

.alinhamento-contato {
    margin: 20px 0px 20px 30px;
    text-align: left;
}









