.header-futebol {
    width: 100%;
    height: 700px;
    background-image: url('../imagens/Background/background-futebol.jpg');
    background-position: center;
    background-size: cover;
}

.header-volei {
    width: 100%;
    height: 700px;
    background-image: url('../imagens/Background/background-volei.jpg');
    background-position: center;
    background-size: cover;
}

.header-basquete {
    width: 100%;
    height: 700px;
    background-image: url('../imagens/Background/background-basquete.jpg');
    background-position: center;
    background-size: cover;
}

.img-bg {
    width: 100%;
    height: auto;
}

.img-prod {
    height: 200px;
}

.img-logo-marca {
    position: relative;
    float: right;
    margin: -50px 10px;
    width: 55px;
    height: 34px;
}

.avatar {
    margin: 20px 0px 0px 40%;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}

.titulo {
    margin: 180px 0px;
}

.conteudo ul {
    margin: 0px auto;
}

.conteudo li {
    display: inline-block;
    margin: 20px 20px;
    width: 270px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #000000BA;
    transition: all 1s;
}

.conteudo li:hover {
    transform: scale(1.2);
}

.conteudo li p {
    margin: 20px 10px;
    font-size: 14pt;
    font-weight: 500;
}