.header-futebol {
    width: 100%;
    height: 700px;
    background-image: url('../imagens/Background/background-futebol.jpg');
    background-position: center;
    background-size: cover;
}

.card {
    padding-top: 180px;
    margin: 0 auto;
}

.card h1{
    text-align: center;
    font: Bold 100px Segoe UI;
    color: #FFFFFF;
    text-shadow: 1px 1px 10px #000000A3;
}

.img-bg {
    width: 100%;
    height: auto;
}

.avatar {
    margin: 20px 0px 0px 40%;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);
}

.titulo {
    margin: 100px 0px;
}

.conteudo ul {
    margin: 0px auto;
}

.conteudo li {
    display: inline-block;
    margin: 30px 30px;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #000000BA;
}