.header-sobre {
    width: 100%;
    height: 700px;
    background-image: url('../imagens/Background/background-sobre.jpg');
    background-position: center;
    background-size: cover;
}

.cards {
    text-align: center;
    font: Bold 100px/133px Segoe UI;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 1px 1px 10px #000000A3;
    opacity: 1;
}

.img-sobre {
    width: 100%;
    height: auto;
    border-radius: 100%;

}

.avatar {
    width: 300px;
    height: 300px;
}


.img-conteudo {
    width: 250px;
    height: 250px;
}

#texto {
    width: 625px;
    text-align: justify;
    font-size: 32px;
    position: relative;
    float: right;
}

#texto2 {
    margin-top: 25px;
    text-align: justify;
    font-size: 32px;
    position: relative;
}

#texto3 {
    margin-top: 25px;
    text-align: justify;
    font-size: 32px;
    position: relative;
}

#texto4 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
}

.img-conteudo-2 {
    width: 250px;
    height: 250px;
    position: relative;
    float: right;
    margin-left: 15px;
}

.coluna {
    float: left;
    width: 33.33%;
    margin-top: 50px;
    
}
.linha::after {
    content: "";
    clear: both;
    display: table;
  
}


