body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topo {
    top: 0;
    width: 100%;
    height: 700px;
}

.img-bg {
    width: 100%;
    height: auto;
}

.header-index {
    width: 100%;
    height: 700px;
    background-image: url('../imagens/Background/background.jpg');
    background-position: center;
    background-size: cover;
}

.nav-bar {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    width: 100%;
}

.nav-bar img{
    position: relative;
    top: 24px;
    left: 39px;
    width: 311px;
    height: 106px;
    opacity: 1;
}

.nav-bar ul {
    margin: 50px 20px 0px 0px;
    position: relative;
    float: right;
}

.nav-bar li {
    opacity: 1;
    color: #ffffff;
    font-size: 40px;
    margin: 0 20px;
    display: inline-block;
}

.nav-bar li a {
    text-decoration: none;
    color: #ffffff;
    transition: all 1s;
}

.nav-bar li a:hover {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
}

.rodape {
    width: 100%;
    height: 429px;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #CFEAFF 29%, #97D2FF 100%) 0% 0% no-repeat padding-box;
}

.rodape p {
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 8em;
}

.rodape img {
    position: relative;
    left: 40%;
    top: 14em;
}

.btn {
    text-decoration: none;
    padding: 15px 90px;
    border-radius: 5px;
    margin: 0 55px 20px;
    height: auto;
    background: #1102D8 0% 0% no-repeat padding-box;
    color: #ffffff;
    transition: all 0.5s;
}

.btn:hover {
    opacity: 0.5;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.cards {
    padding-top: 200px;
    width: 1300px;
    margin: 0 auto;
}

.cards li {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000B3;
    margin: 0 40px;
    width: 350px;
    height: 450px;
    background-color: #ffffff;
}

.cards li h1 {
    margin-top: -180px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000000A1;
    text-align: center;
    font-size: 34px;
}

.cards li img.avatar {
    margin: 80px 110px;
    box-shadow: 1px 1px 10px #000000A3;
}

.conteudo {
    width: 940px;
    margin: 0 auto;
}

.titulo {
    font-weight: 600;
    font-size: 30pt;
    text-align: center;
    margin: 50px;
}

.subtitulo {
    font-weight: 600;
    font-size: 20pt;
    text-align: center;
    margin: 50px;
}

.mapa {
    width: 100%;
    height: 400px;
}

.video {
    width: 100%;
    height: 400px;
    margin: 30px 0;
}

.card {
    padding-top: 180px;
    margin: 0 auto;
}

.card h1{
    text-align: center;
    font: Bold 100px Segoe UI;
    color: #FFFFFF;
    text-shadow: 1px 1px 10px #000000A3;
}